{% extends 'core/main.html' %}

{% block content %}

<h1>Edit page for {{automation}}</h1>
<form action="{% url 'automation_edit' account.id automation.id %}" method="POST">
	{% csrf_token %}
	{{form.as_p}}
	<input type="submit" name="submit">
</form>

{% if messages %}
<h2>Add a message to this automation:</h2>
<form action="{% url 'automation_add_message' account.id automation.id %}" method="POST">
	{% csrf_token %}
	<select name="message_id" required>
		{% for message in messages %}
		<option value="{{message.id}}">{{message.name}}</option>
		{% endfor %}
	</select>
	<input type="submit" name="submit">
</form>
{% else %}
<p>All of your messages are in this automation.</p>
{% endif %}

{% if automation_messages %}
<h2>Remove a message from this automation:</h2>
<form action="{% url 'automation_remove_message' account.id automation.id %}" method="POST">
	{% csrf_token %}
	<select name="message_id" required>
		{% for message in automation_messages %}
		<option value="{{message.id}}">{{message.name}}</option>
		{% endfor %}
	</select>
	<input type="submit" name="submit">
</form>
{% endif %}

<a href='/accounts/{{account.id}}/automations/{{automation.id}}/delete'>Delete Automation</a>
<a href='/accounts/{{account.id}}/automations/{{automation.id}}'>Back to Automation</a>

{% endblock %}
