{% extends 'core/main.html' %}

{% block content %}

<h1>Automation Page</h1>

<h2>Details:</h2>
<ul>
    <li>Name: {{automation.name}}</li>
    <li>Description: {{automation.description}}</li>
    <li>Created: {{automation.date_created}}</li>
</ul>

{% if messages %}
<h2>Messages:</h2>
<ol class='messages'>
    {% for message in messages %}
    <li>{{message.name}}</li>
    {% endfor %}
</ol>
{% else %}
<p>There are no messages associated with this automation.</p>
{% endif %}

<div class="buttons-container">
    <a class="button" href='/accounts/{{account.id}}/automations/{{automation.id}}/edit'>Edit Automation</a>
    <a class="button type2" href='/accounts/{{account.id}}/automations'>Back to Automations</a>
</div>
{% endblock %}
