{% extends 'core/main.html' %}

{% block content %}

<h1>Login Form</h1>
<form action="{% url 'login' %}" method="POST">
	{% csrf_token %}
	<div class="field">
		<label for="username">Username:</label>
		<input type="text" name="username" placeholder="Username...">
	</div>
	<div class="field">
		<label for="password">Password:</label>
		<input type="password" name="password" placeholder="Password...">
	</div>
	<input type="submit" name="submit">
</form>

{% for message in messages %}
<p class='message'>{{message}}</p>
{% endfor %}

<div class="buttons-container">
	<a class="button" href='/accounts/create'>Create Account</a>
	<a class="button type2" href='{% url "reset_password" %}'>Forgot your password?</a>
</div>

{% endblock %}
