{% extends 'accounts/main.html' %}
{% block content %}
<h1>Subscribers Page</h1>
<h2>Subscribers for _____</h2>
<table style="width:100%">
    <tr>
      <th>Forename</th>
      <th>Email</th>
      <th>Tags</th>
      <th>Subscription Date</th>
      <th></th>
    </tr>
    {% for sub in subscribers %}
    <tr>
        <td>{{sub.first_name}}</td>
        <td>{{sub.email}}</td>
        <td>@todo</td>
        <td>{{sub.date_joined}}</td>
        <td>
            <a href="#">View</a>
        </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
