{% extends 'core/main.html' %}

{% block content %}

<h1>Edit page for {{message}}</h1>
<form action="{% url 'message_edit' account.id message.id %}" method="POST">
	{% csrf_token %}
	{{form.as_p}}
	<input type="submit" name="submit">
</form>
<div class="buttons-container">
	<a class="button type3" href='/accounts/{{account.id}}/messages/{{message.id}}/delete'>Delete Message</a>
	<a class="button type2" href='/accounts/{{account.id}}/messages/{{message.id}}'>Back to Message</a>
</div>

{% for message in messages %}
{{message}}
{% endfor %}

{% endblock %}
