{% extends 'core/main.html' %}
{% block content %}
<h1>Messages Page</h1>
<h2>Messages for {{account}}</h2>
<p>Here is a list of all of your messages that can be assigned to automations to be sent to your subscribers.</p>
<form method="get">
  {{filter.form}}
  <button type="submit">Search</button>
</form>
<table style="width:100%">
    <tr>
      <th>Name</th>
      <th>Created</th>
      <th></th>
    </tr>
    {% for message in messages %}
    <tr>
        <td>{{message.name}}</td>
        <td>{{message.date_created}}</td>
        <td>
            <a href="/accounts/{{account.id}}/messages/{{message.id}}">View</a>
        </td>
    </tr>
    {% endfor %}
  </table>
  <a href='/accounts/{{account.id}}'>View Account</a>
  <a href='/accounts/{{account.id}}/messages/create'>Create Message</a>
{% endblock %}
