<div class="navbar-outer">
    <ul class="navbar-inner">
        <li>
            <a href="/">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="/accounts/{{request.user.id}}">My Account</a>
        </li>
        <li>
            <a href='{% url "get_subscribers" request.user.id %}'>Subscribers</a>
        </li>
        <li>
            <a href='{% url "message_list" request.user.id %}'>Messages</a>
        </li>
        <li>
            <a href='{% url "automation_list" request.user.id %}'>Automations</a>
        </li>
        {% endif %}
        <li class="end">
            {% if user.is_authenticated %}
            <span>Hi {{request.user}}.</span>
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </li>
        {% if request.user.is_staff %}
        <li>
            <a href="/accounts">Accounts</a>
        </li>
        {% endif %}
    </ul>
</div>