{% extends 'core/main.html' %}

{% block content %}

<h1>Edit Subscriber Page for {{subscriber}}</h1>
<form action="{% url 'edit_subscriber' account.id subscriber.id %}" method="POST" class="with-ps">
	{% csrf_token %}
	{{form.as_p}}
	<input type="submit" name="submit">
</form>
<div class="buttons-container">
	<a class="button type3" href='/accounts/{{account.id}}/subscribers/{{subscriber.id}}/delete'>Delete Subscriber</a>
	<a class="button type2" href='/accounts/{{account.id}}/subscribers/{{subscriber.id}}'>Back to Subscriber</a>
</div>
{% endblock %}
