{% extends 'core/main.html' %}
{% block content %}
<h1>Subscriber Page</h1>
<h2>Subscriber {{subscriber}}</h2>
<p>Forename: {{subscriber.first_name}}</p>
<p>Email: {{subscriber.email}}</p>
<p>Tags: {% for tag in subscriber.tags.get_queryset %}
    {{tag.name}}{%if not forloop.last%},{%endif%}
    {% endfor %}
    {% if not subscriber.tags.get_queryset %}
    None
    {% endif %}</p>
<p>Date Joined: {{subscriber.date_joined}}</p>
<p>Verified: {{subscriber.verified}}</p>
<a href='/accounts/{{account.id}}/subscribers/{{subscriber.id}}/edit'>Edit Subscriber</a>
<a href='/accounts/{{account.id}}/subscribers/{{subscriber.id}}/delete'>Delete Subscriber</a>
<a href='/accounts/{{account.id}}/subscribers'>Back to Subscribers</a>
{% endblock %}
