{% extends 'core/main.html' %}
{% block content %}
<h1>Subscribers for {{account}}</h1>
<p>Here is your email list that you can send messages to via automations.</p>
<button class="button search">Show Search</button>
<form method="get" class="filter-form with-ps hide">
  {{filter.form.as_p}}
  <button class="button" type="submit">Search</button>
</form>
<table style="width:100%">
    <tr>
      <th>Forename</th>
      <th>Email</th>
      <th>Tags</th>
      <th>Subscription Date</th>
      <th></th>
    </tr>
    {% for sub in subscribers %}
    <tr>
        <td>{{sub.first_name}}</td>
        <td>{{sub.email}}</td>
        <td>
          {% for tag in sub.tags.get_queryset %}
          {{tag.name}}{%if not forloop.last%},{%endif%}
          {% endfor %}
          {% if not sub.tags.get_queryset %}
          None
          {% endif %}
        </td>
        <td>{{sub.date_joined}}</td>
        <td>
            <a class='button' href="/accounts/{{account.id}}/subscribers/{{sub.id}}">View</a>
        </td>
    </tr>
    {% endfor %}
  </table>
  <div class="buttons-container">
    <a class='button' href='/accounts/{{account.id}}/subscribers/create'>Create Subscriber</a>
    <a class='button type2' href='/accounts/{{account.id}}'>View Account</a>
  </div>

  <script>
    const searchBtn = document.querySelector('.search');
    const form = document.querySelector('.filter-form');
    searchBtn.onclick = () => {
      form.classList.toggle('hide');

      if (form.classList.contains('hide')) {
        searchBtn.innerText = 'Show Search';
        return;
      }

      searchBtn.innerText = 'Hide Search';
    }
  </script>
{% endblock %}
