{% extends 'core/main.html' %}
{% block content %}
<h1>Subscribers Page</h1>
<h2>Subscribers for {{account}}</h2>
<form method="get">
  {{filter.form}}
  <button type="submit">Search</button>
</form>
<table style="width:100%">
    <tr>
      <th>Forename</th>
      <th>Email</th>
      <th>Tags</th>
      <th>Subscription Date</th>
      <th></th>
    </tr>
    {% for sub in subscribers %}
    <tr>
        <td>{{sub.first_name}}</td>
        <td>{{sub.email}}</td>
        <td>
          {% for tag in sub.tags.get_queryset %}
          {{tag.name}}{%if not forloop.last%},{%endif%}
          {% endfor %}
          {% if not sub.tags.get_queryset %}
          None
          {% endif %}
        </td>
        <td>{{sub.date_joined}}</td>
        <td>
            <a href="/accounts/{{account.id}}/subscribers/{{sub.id}}">View</a>
        </td>
    </tr>
    {% endfor %}
  </table>
  <a href='/accounts/{{account.id}}'>View Account</a>
  <a href='/accounts/{{account.id}}/subscribers/create'>Create Subscriber</a>
{% endblock %}
